@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@300;400;500;700&family=Spartan:wght@200;300;400;500;600&display=swap');

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #3b368c;
}

*{
    box-sizing: inherit;
    /* thuộc tính inherit này kế thừa box-sizing của thẻ chứa */
}

body{
    font-family: 'DM Sans';
}

.text-center{
    text-align: center;
}

html{
    /* font-size: 100%; fz 100% = 16px */
    font-size: 62.5%;
    /* 62.5% = 10px thuan loi cho viec dung rem */
    /* vd 1.6 rem = 16px */
    line-height: 1.6rem;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
}

/* responsive part */
.grid{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
